.idea

app-root/.env
app-root/node_modules
app-root/yarn.lock
app-root/package-lock.json
app-root/build

app-first/.env
app-first/node_modules
app-first/yarn.lock
app-first/package-lock.json
app-first/build

app-second/.env
app-second/node_modules
app-second/yarn.lock
app-second/package-lock.json
app-second/build
